---
title: Aliceの简介
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>Aliceの简介</h2>
</div>

<main class="tags-content">

    <ul class="tags-list">
        
        <li>
            <span class="tag-name" >「个人简介」</span>
            大家好，我叫Alice，90后的一个姑娘。兴趣爱好很广泛，比如：音乐、美术、旅游、美食...
            写过单曲《手心》、《侣程》、《滴滴点点》，画过无数作品，拍摄过一部微电影《侣程》。
            平均每天要花8小时甚至以上去创造无数的Bug，因为我是专业的。我有着很温馨的家庭，从小
            就在温室中成长，长了20多年裂变出一个小家，又迎接了一个新生命的到来。我的人生很丰富，
            每天都变幻莫测，经历着开心与忧愁带给自己的成长，有过迷茫，当然都能遇到解惑之人，未来
            我的道路还很长，面对充满挑战的未来，积极面对。
          
        </li>
        <li>
            <span class="tag-name" >「家庭成员」</span>
            <ul>
                <li>
                    小蛇：我的爸爸，我都是叫他小蛇，可能是因为他属蛇？小时候觉得他很有威严，
                    慢慢的长大了之后，发现很多决策性的困惑他都可以帮我搞定，有的时候就是一语惊醒梦中人，
                    有的时候我也皮，他拿我没办法的样子也好玩，一个男人有多细心，有个女儿就知道了。
                </li>
                <li>
                    小球：这是我的妈妈，由于我小的时候她比较胖，所以我就喊他小球了。她应该说是佛系的，
                    当然这种妈妈也是大家梦寐以求的，不会天天盯着你念叨，你需要她了找她，她会给到你需要的帮助，
                    她可能就是别人家的妈妈，哈哈哈
                </li>
                <li>
                    大呆鹅：我的双胞胎姐姐，我觉得应该后出生才是老大，可是大家都把先出生的叫老大，和我性格
                    完全不一样，而且心里年龄似乎永远停留在了10岁的样子。
                </li>
                <li>
                    饼小贱：原名Jermine，在气氛很燥的环境下读起来听着是“煎饼”，导致有一次他说他他叫Jermine
                    的时候，我听着就是煎饼，慢慢的就成了饼小贱，我喜欢给人起外号。这是我的成长半路认识又准备
                    相互陪伴的人，为什么会选择他？呵呵，因为当时他长得帅。
                </li>
                <li>
                    小Cary：这是携带着我的基因的四脚吞金兽，我不喜欢小孩儿，但是这个小孩儿真的好玩，他会逗人开心。
                    尽管他才几个月，都可以把我逗的笑到肚子疼，这可能是他的杀手锏。我对他的爱很多，其他的无所谓，健健康康
                    的成长就好，这是我对他期望。
                </li>
            </ul>
          
        </li>
    </ul>
</main>
    
{% include footer.html %}
